/*GENERAL*/

html{
    font-family: 'Ubuntu', sans-serif;
    font-size: 5px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

img{
    height: 100%;
    width: 100%;
}

/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    height: 12vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.header__logo{
    height: 100%;
    width: 20%;
}

.header__icono{
    height: 100%;
    width: 20%;
    border: 0;
    background-color: transparent;
}

.icono{
    font-size: 3rem;
}

.header__navigation{
    width: 100%;
    height: 25vh;
    background-color: rgba(10, 10, 10,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: none;
}

.header__navigation--active{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.header__navigation--disable{
    display: none;
}

.header__navigation ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.header__navigation li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
}

.navigation__link{
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-size: 2.5rem;
}


/*CONTENIDO*/

.banner__carousel{
    display: none;
}

#banner{
    background-color: rgb(190, 190, 190);
    width: 100%;
    height: 88vh;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.banner__titulo{
    background-color:rgb(150, 150, 150);
    height: 30vh;
    width: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.banner__titulo h1{
    color:rgb(245,245,245);
    font-size: 4rem;
    text-align: center;
}


/*MAIN*/

main section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15%;
}

.section__title{
    margin-top: 15%;
    font-size: 4rem;
}

/* SECCION NOSTROS*/

#us{
    background-color: rgb(240, 240, 240);
}

#us p{
    margin-top: 35%;
    font-size: 2.5rem;
    text-align: justify;
}

/*SECCION SERVICIOS*/

#services{
    background-color: rgb(220, 220, 220);
    height: auto;
}

.services__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30% 0; 
}

.services__image{
    font-size: 12rem;
}

.services__item h3{
    font-size: 4rem;
}

/*CONTACTO*/

#contact{
    background-color: rgb(80, 80, 80);
    height: auto;
}

#contact .section__title{
    color: rgb(240, 240, 240)
}

.contact__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30% 0; 
}

.contact__image{
    font-size: 12rem;
    color: rgb(240, 240, 240)
}

.contact__title{
    font-size: 3rem;
    text-decoration: none;
    color: rgb(240, 240, 240)
}

/*FOOTER*/

footer{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
}

footer span{
    font-size: 2rem;
    color: rgb(240, 240, 240);
    text-align: center;
}


@media (min-width: 1000px){

    html{
        font-size: 10px;
    }
    
    header{
        height: 10vh;
    }

    .header__icono{
        display: none;
    }

    .header__navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: transparent;
        flex-direction: row;
        width: 80%;
        height: 100%;
    }

    .header__navigation ul{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
    }

    .navigation__link{
        font-size: 2rem;
        color: brown;
    }

    /*BANNER*/

    #banner{
        width: 100%;
        height: 88vh;
    }

    .banner__titulo{
        display: none;
    }

    .banner__carousel{
        display: block;
        width: 100%;
        height: 100%;
    }

    /*MAIN*/

    .section__title{
        font-size: 2rem;
    }

    /*NOSOTROS */

    #us{
        height: auto;
    }

    #us p{
        font-size: 2rem;
        margin: 15% 0;
    }


    /*SERVICIOS*/

    #services{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #services .section__title{
        width: 100%;
        text-align: center;
    }
    
    .services__item{
        width: 28%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12% 2%;
    }
    
    .services__image{
        font-size: 6rem;
    }
    
    .services__item h3{
        font-size: 2rem;
    }

    /*CONTACTO*/

    #contact{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    #contact .section__title{
        width: 100%;
        text-align: center;
    }
    
    .contact__item{
        width: 28%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12% 2%;
    }
    
    .contact__image{
        font-size: 6rem;
    }
    
    .contact__title{
        font-size: 2rem;
    }
    
    /*FOOTER*/

    footer span{
        font-size: 1.5rem;
    }

}



